/* SELETTORE UNIVERSALE */
*{
    font-family: "Century Gothic", Arial, sans-serif;
    color: #fff;
    margin: 0;
}

input{
    outline: none;
    transition: .3s ease;
}

a{
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

/* IMG DI SFONDO */
#background-chat{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; 
    filter: blur(7px);
}

/* FORM */
.form{
    z-index: 1;
    width: min(100%, 350px);
    padding: 40px;
    background-color: #4e4e4e6a;
    border-radius: 10px;
    border: 3px solid #1d71c5;
}

.form-title{
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}

.form-title h1 {
    color: #1d71c5;
}

.form-title::before{
    position: absolute;
    width: 5px;
    height: 100%;
    left: 0;
}

.password-toggle{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
}

.form-field{
    display: grid;
    gap: .8rem;
}

.form-field-input{
    position: relative;
}

.form-field-input input{
    width: 100%;
    padding: 20px 0px 5px;
    background: transparent;
    font-size: 1rem;
    border-top: none;
    border-right: none;
    border-left: none;
}

.form-field-input label{
    position: absolute;
    left: 0px;
    top: 13px;
    pointer-events: none;
    transition: .3s ease;
}

.form-field-input input:focus{
    border-bottom: 1px solid #fff;
}

.active label{
    top: 5px;
    font-size: .8rem;
}

.login-btn{
    padding: 13px;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px;
    width: 100%;
    font-size: .9em;
    background-color: #1d71c5;
    margin: 25px 0 10px;
}

.login-btn:hover{
    font-weight: bold;
    text-transform: uppercase;
}

.hidepass, .showpass, .username{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 1.2rem;
}

.hidepass, .showpass{
    cursor: pointer;
}

.form-field-remember-forgot{
    font-size: .9em;
    display: flex;
    justify-content: space-between;
}

.login-register{
    font-size: .9em;
    text-align: center;
}