/* BODY */
body {
    display: flex;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
    width: 100%;
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* LOADER */
.div-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

/* FRAME (CONTIENE SIDEPANEL E CONTENT) */
#frame {
    display: flex;
    flex-direction: row;
    width: 100vw;       
    height: 100vh;      
    background: #E6EAEA;
}

/* SIDEPANEL */
#sidepanel {
    float: left;
    min-width: 240px;
    max-width: 300px;
    width: 40%;
    height: 100%;
    background: #34495f;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
    border-right: 1px solid #f5f5f5;
}

#title-chat {
    width: 80%;
    margin: 25px auto;
}

#sidepanel .wrap button {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 13px;
}

#sidepanel .wrap button:hover {
    background-color: #9ec1f8;
}

#sidepanel .wrap img {
    float: left;
    margin-left: 10px;
}

.user-btn {
    display: flex;
    align-items: center;
    width: 100;
    padding: 10px;
    border: none;
    background: transparent;
    background: #34495f;
}

.user-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.name {
    font-weight: bold;
    margin-bottom: 3px;
}

#profile .wrap img {
    width: 45px;
    padding: 3px;
    height: auto;
    float: left;
}

#profile .wrap p {
    float: left;
    margin-left: 10px;
}

#contacts {
    height: calc(100% - 80px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.block{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.preview{
    color: #aaa;
    margin: 5px 0 0 0;
}

.preview, .name {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-align: left;
    padding-left: 10px;
}

.badge{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;  /* Puoi regolare la dimensione*/
    height: 20px;
    border-radius: 50%;
    background-color: #427bb5;
    /* color: "white", */
    /* font-size: 12px; */
    /* fontWeight: "bold", */
}

/* BARRA DI SCORRIMENTO - SIDEBAR */
#contacts::-webkit-scrollbar {
    width: 8px;
    background: #34495f;
}

#contacts::-webkit-scrollbar-thumb {
    background-color: #3a5775;
}

/* NO CHAT SELECTED */
.warning{
    background-color: #9ec1f8;
    padding: 10px;
    border-radius: 10px;
}

/* CONTENT */
#frame .content {
    width: calc(100% - 240px);
    flex: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.content-text {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    height: 100%;           
    text-align: center;     
}

.content-text p, .content-text h1{
    color: #34495f;
}

.contact-profile img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
}

.contact-profile p {
    float: left;
}

.messages {
    width: 100%;
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.message {
   position: relative;
   display: inline-block;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%; 
}

.chat.replies .message-container {
    align-items: flex-end; 
}

.time {
    font-size: 0.7rem;
    color: #aaa;
    margin-top: 3px;
    text-align: right;
}

.messages ul li {
    display: inline-block;
    clear: both;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
}

.messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
}

.messages ul li.sent img {
    margin: 6px 8px 0 0;
}

.messages ul li.sent p {
    background: #3a5775;
    color: #f5f5f5;
}

.messages ul li.replies img {
    float: right;
    margin: 6px 0 0 8px;
}

.messages ul li.replies p {
    background: #5993cc;
    float: right;
}

.messages ul li img {
    width: 22px;
    border-radius: 50%;
    float: left;
}

.messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 150px;
    line-height: 130%;
    overflow-wrap: break-word; 
    word-wrap: break-word;
}

/* BARRA SCORRIMENTO MESSAGGI */
.messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}
.messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

.message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.message-input .wrap {
    position: relative;
    display: flex; 
    align-items: center; 
}

.image-sent {
    width: 100px !important;  
    height: auto !important;  
    max-width: none !important;
    border-radius: 10px !important;
}

.image-preview-container {
    position: absolute;
    bottom: 40px;
    padding: 20px;
}

.image-preview-container img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
    object-fit: cover;
}

.image-preview-container button {
    position: absolute;
    top: 0px;
    background: rgb(39, 39, 39);
    border: none;
    color: white;
    font-size: 10px;
    border-radius: 50%;
    padding: 5px;
}

.message-input .wrap input[type="text"] {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    border: none;
    flex: 1; 
    padding: 11px 8px;
    font-size: 1em;
    color: #32465a;
}

.message-input input[type="file"] {
    display: none;

}

.message-input .wrap input {
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    width: calc(100% - 90px);
    padding: 11px 32px 10px 8px;
    font-size: 1em;
    color: #32465a;
}

.message-input .wrap input:focus {
    outline: none;
}

.message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    background: #32465a;
    color: #f5f5f5;
}

.message-input .wrap button:hover {
    background: #435f7a;
}

.message-input .wrap button:focus {
    outline: none;
}

/* VIDEOCALL */
#localVideo, #remoteVideo {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.btn-videocall, .btn-close{
    border: none;
    background: transparent;
    font-size: .9em;
}

.btn-videocall{
    margin-right: 20px;
}

.btn-close{
    padding: 7px;
    border-radius: 5px;
    background-color: red;
}

.videocall-btn{
    position: absolute;
    top: 15px;
    right: 120px;
    padding: 11px;
    border-radius: 8px;
    background-color: #427bb5;
    color: "#fff";
    border: 1px solid #fff;
}

.call-incoming{
    position: absolute;
    left: 42%;
    color: #32465a
}

.btn-accept{
    position: absolute;
    left: 45%;
    background-color: #32465a;
    padding: 10px
}

.my-video{
    position: absolute; 
    right: 0; 
    width: 250px; 
    height: 100vh
}

.user-video{
    display: flex;
    height: 100vh;
    width: 100%;
}

.option-bar{
    position: absolute; 
    left: 40%;
    background-color: #32465a;
    padding: 10px;
    font-size: 1.2em; 
    border-radius: 10px;
}

.btn-logout{
    position: absolute;
    top: 13px;
    right: 10px;
    padding: 12px 12px;
    border-radius: 8px;
    background-color: #427bb5;
    color: #fff;
    z-index: 5;
    font-size: 0.9em;
    border: none;
    border: 1px solid #fff;
}

.btn-logout:hover, .videocall-btn:hover{
    background-color: #3a5775;
}

@media screen and (max-width: 360px) {
    #frame {
        width: 100vh;
        height: 100vh;
    }
}

@media screen and (min-width: 735px) {
    .messages ul li p {
        max-width: 300px;
    }
}

@media screen and (max-width: 735px) {
    #sidepanel {
        display: none;
    }

    #profile {
        width: 100%;
        margin: 0 auto;
        padding: 5px 0 0 0;
        background: #32465a;
    }

    #profile .wrap {
        height: 55px;
    }

    #profile .wrap img {
        width: 40px;
        margin-left: 4px;
    }

    #profile .wrap p {
        display: none;
    }

    #frame .content {
        width: 100vh;
    }

    .messages {
        max-height: calc(100% - 105px);
    }

    .message-input .wrap input {
        padding: 15px 32px 6px 8px;
    }

    /* .message-input .wrap button {
        padding: auto 0;
    } */
}

@media  (min-width: 735px) and (max-width: 900px){
    #frame {
        width: 100vh;
    }

    #sidepanel {
        display: none;
    }

    .content {
        width: 100vh;
    }
}
@media screen and (min-width: 900px) {
    .content {
        width: calc(100% - 340px);
    }   
}